# Week 1 handin

## 01 Assignment
Here is the text for the assignment linked to

## 02 Status
Here is a status on the handin. How far you got. What is implemented and what is not

## 03 Solution part 1

#### A)  Iterate a list of names to return a list of the names starting with H

In [1]:
name_list = ["Hanne", "Susan", "Mia", "Hans", "Carl"]

new_list = [name for name in name_list if name.startswith('H')]
new_list

['Hanne', 'Hans']

#### B) In one line create a list of the numbers 1-100 to the power of 3

In [2]:
lst_comp = [i**3 for i in range(5)]
lst_comp

[0, 1, 8, 27, 64]

#### C) Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name

In [3]:
tuples_list = [(len(name),name) for name in name_list]
tuples_list

[(5, 'Hanne'), (5, 'Susan'), (3, 'Mia'), (4, 'Hans'), (4, 'Carl')]

#### D) Iterate over each character in a string and get only those that are nummeric

In [4]:
num_string = "Jeg elsker katte og har 32 stk. Jeg har ogs√• 2 hunde!"

res = [int(i) for i in num_string.split() if i.isdigit()] 
res

[32, 2]

#### E) Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)

In [12]:
combos = set([(dice1, dice2) for dice1 in list(range(1,7)) for dice2 in list(range(1, 7))])
combos

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

## 04 Solution part 2

#### A) Iterate a list of names and create a dictionary where key is the name and value is the length of the name

In [6]:
names_length = {name : len(name) for name in name_list}
names_length

{'Hanne': 5, 'Susan': 5, 'Mia': 3, 'Hans': 4, 'Carl': 4}

#### B) Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}

In [15]:
number_roots = {numbers : numbers**0.5 for numbers in list(range(0,100))}

number_roots

{0: 0.0,
 1: 1.0,
 2: 1.4142135623730951,
 3: 1.7320508075688772,
 4: 2.0,
 5: 2.23606797749979,
 6: 2.449489742783178,
 7: 2.6457513110645907,
 8: 2.8284271247461903,
 9: 3.0,
 10: 3.1622776601683795,
 11: 3.3166247903554,
 12: 3.4641016151377544,
 13: 3.605551275463989,
 14: 3.7416573867739413,
 15: 3.872983346207417,
 16: 4.0,
 17: 4.123105625617661,
 18: 4.242640687119285,
 19: 4.358898943540674,
 20: 4.47213595499958,
 21: 4.58257569495584,
 22: 4.69041575982343,
 23: 4.795831523312719,
 24: 4.898979485566356,
 25: 5.0,
 26: 5.0990195135927845,
 27: 5.196152422706632,
 28: 5.291502622129181,
 29: 5.385164807134504,
 30: 5.477225575051661,
 31: 5.5677643628300215,
 32: 5.656854249492381,
 33: 5.744562646538029,
 34: 5.830951894845301,
 35: 5.916079783099616,
 36: 6.0,
 37: 6.082762530298219,
 38: 6.164414002968976,
 39: 6.244997998398398,
 40: 6.324555320336759,
 41: 6.4031242374328485,
 42: 6.48074069840786,
 43: 6.557438524302,
 44: 6.6332495807108,
 45: 6.708203932499369,
 46: 6.782329983125268,
 47: 6.855654600401044,
 48: 6.928203230275509,
 49: 7.0,
 50: 7.0710678118654755,
 51: 7.14142842854285,
 52: 7.211102550927978,
 53: 7.280109889280518,
 54: 7.3484692283495345,
 55: 7.416198487095663,
 56: 7.483314773547883,
 57: 7.54983443527075,
 58: 7.615773105863909,
 59: 7.681145747868608,
 60: 7.745966692414834,
 61: 7.810249675906654,
 62: 7.874007874011811,
 63: 7.937253933193772,
 64: 8.0,
 65: 8.06225774829855,
 66: 8.12403840463596,
 67: 8.18535277187245,
 68: 8.246211251235321,
 69: 8.306623862918075,
 70: 8.366600265340756,
 71: 8.426149773176359,
 72: 8.48528137423857,
 73: 8.54400374531753,
 74: 8.602325267042627,
 75: 8.660254037844387,
 76: 8.717797887081348,
 77: 8.774964387392123,
 78: 8.831760866327848,
 79: 8.888194417315589,
 80: 8.94427190999916,
 81: 9.0,
 82: 9.055385138137417,
 83: 9.1104335791443,
 84: 9.16515138991168,
 85: 9.219544457292887,
 86: 9.273618495495704,
 87: 9.327379053088816,
 88: 9.38083151964686,
 89: 9.433981132056603,
 90: 9.486832980505138,
 91: 9.539392014169456,
 92: 9.591663046625438,
 93: 9.643650760992955,
 94: 9.695359714832659,
 95: 9.746794344808963,
 96: 9.797958971132712,
 97: 9.848857801796104,
 98: 9.899494936611665,
 99: 9.9498743710662}